<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background-color: lightslategrey;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            margin: 0;
        }

        #canvas {
            border: solid red;
            height: 100vh;
            width: 100vw;
        }
    </style>
</head>
<body>
    <canvas id="canvas"></canvas>

    <script>
        const canvas = document.querySelector('#canvas');
        const ctx = canvas.getContext('2d')

        // https://www.youtube.com/watch?v=Yvz_axxWG4Y

        ctx.lineWidth = 0.1;
        ctx.strokeStyle = 'blue';
        ctx.strokeText('apple', 100, 100);
    </script>
</body>
</html>
