<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coin-grep</title>
    <style>
        #center {
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="center">
        <div id="logo-container">
            <h1>coin-grep</h1>
        </div>
        <input id="searchbar" type="text">
        <br><br>
        <button class="endpt-selector">txn</button> &NonBreakingSpace;
        <button class="endpt-selector">addr</button> &NonBreakingSpace;
        <button class="endpt-selector">blk</button> &NonBreakingSpace;

    </div>
</body>

<script>
    // document.getElementById('searchbar').onkeydown = (e) => {
    //     if (e.key == 'Enter') {
    //         location.href = `get_details/${document.getElementById('searchbar').value}`
    //     }
    // };

    Array.from(document.querySelectorAll('.endpt-selector')).forEach(e => {
        e.onclick = () => location.href = `${e.textContent}/${document.getElementById('searchbar').value}`
    })
</script>

</html>
