[submodule ".ref/btc/lightnode/electrum"]
	path = .ref/btc/lightnode/electrum
	url = https://github.com/spesmilo/electrum
[submodule ".ref/btc/bitcoinbook"]
	path = .ref/btc/bitcoinbook
	url = https://github.com/bitcoinbook/bitcoinbook
[submodule ".ref/btc/lightnodes/bitcoinlib"]
	path = .ref/btc/lightnodes/bitcoinlib
	url = https://github.com/1200wd/bitcoinlib
[submodule ".ref/btc/lightnodes/pycoin"]
	path = .ref/btc/lightnodes/pycoin
	url = https://github.com/richardkiss/pycoin
[submodule ".ref/btc/lightnodes/pycoinnet"]
	path = .ref/btc/lightnodes/pycoinnet
	url = https://github.com/richardkiss/pycoinnet
[submodule ".ref/eth/ethereumbook"]
	path = .ref/eth/ethereumbook
	url = https://github.com/ethereumbook/ethereumbook
[submodule ".ref/doge/dogecoin"]
	path = .ref/doge/dogecoin
	url = https://github.com/dogecoin/dogecoin
[submodule ".ref/doge/dogecoin-spv-node"]
	path = .ref/doge/dogecoin-spv-node
	url = https://github.com/ShibeTechnology/dogecoin-spv-node
[submodule ".ref/btc/lightnodes/electrum"]
	path = .ref/btc/lightnodes/electrum
	url = https://github.com/spesmilo/electrum
