[submodule "lightnodes/electrum"]
	path = lightnodes/electrum
	url = https://github.com/spesmilo/electrum.git
[submodule "lib/lightnodes/electrum"]
	path = lib/lightnodes/electrum
	url = https://github.com/spesmilo/electrum
[submodule "lightnode/electrum"]
	path = lightnode/electrum
	url = https://github.com/spesmilo/electrum
