body {
    background-color: #2e3440;
}

#logo-container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo {
    height: 5em;
}

#searchbar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#searchbar {
    height: 3em;
    width: 50em;
    border: solid #2e3440;
    border-radius: 25px;
    background-color: #d8dee9;
    font-size: x-large;
    font-family: monospace;
    padding-left: 1em;
    padding-right: 1em;
}

#searchbar:focus {
    outline: dashed #8fbcbb;
}
