<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./index.css"> -->
    <link href="{{ url_for('static', path='/index.css') }}" rel="stylesheet">
    <title>coin-grep</title>
</head>

<body>
    <div id="logo-container">
        <!-- <img id="logo" src="./coin-grep.svg" alt="coin-grep"> -->
        <img id="logo" src="{{ url_for('static', path='/coin-grep.svg') }}" alt="coin-grep">
    </div>
    <div id="searchbar-container">
        <input id="searchbar" type="text">
    </div>
    <div id="searchresult-container">
        <h2>Results:</h2>
        <div class="searchresult">brtcoin</div><br><hr>
        <div class="searchresult">brtcoin</div><br><hr>
        <div class="searchresult">brtcoin</div><br><hr>
    </div>
</body>

<script src="{{ url_for('static', path='/index.js') }}"></script>

</html>


<!-- # @api.get("/", response_class=HTMLResponse)
# async def root(request: Request):
#     return templates.TemplateResponse("index.html", {"request": request})

# @api.get("/items/{id}", response_class=HTMLResponse)
# async def read_item(request: Request, id: str):
#     return templates.TemplateResponse("item.html", {"request": request, "id": id}) -->
